
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');


body{
    display: flex;
    padding-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: center;
}

.img1{
margin-right: 40px;
width: 200px;
height: auto;
}

.img2 {
    width: 250px; 
    height:175px; 
    object-fit: cover;

}

.bandeau{
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
    margin-left: 45px;
}

.source1{
    font-style: italic;
    writing-mode:vertical-lr;
    text-orientation:initial;
    transform: rotate(-180deg);
    margin-left: -0px;
    color: grey;

}

.claireresum{
    font-size: 25px;
    margin-bottom: -24px;
}

#nom{
    color: #2c468c;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

#p6{
    color: #2c468c;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

#P4{
    color: #2c468c;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

#P10{
    color: #2c468c;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.grp1{
    display: flex;
    flex-direction: column;
    
}

.title1{
    margin-bottom: -10px;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    border: solid ;
    background-color: #2c468c;
    font-style: italic;
}

.tribune{   
    border-top: solid 2px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 45px;
   margin-right: 38px;
}

.ventretrib{
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px;
    margin-right: 4.5%;
    margin-left: 46px;
}

.article3{
    border-bottom: solid 1px;
    padding-bottom: 15px;
}

.article2{
    border-bottom: solid 1px;
    padding-bottom: 10px;
}

.soustribunegauche{
display: flex;
flex-direction: column;
padding-right: 5px;
margin-bottom: -13px;
}



.img3{
    width: 200px;
    height: 200px;
}

.img4{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.img5{
    width: 583px; 
    height:765px; 
    object-fit: cover;
    margin-right: 30px;
}

p{
    font-size: 18px;
}

label{
    font-size: 16px;
    color: #2c468c;
    margin-bottom: -15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-weight: 900;

}

.ventretext{
    
    color: white;
    position:absolute;
    top:680px;
    margin-left: 10px;
    margin-top: 30px;
}

.titreventre{
    font-size: 60px;
    font-weight: 900;
}

.resumeventre{
    font-size: 20px;
    margin-top: -50px;
}

.pubpic{
    object-fit: cover;
    width: 810px;
}

.sub{
    display: flex;
    flex-direction: row;
}

.pubsub{
    writing-mode:vertical-rl;
    text-orientation:initial;
    transform: rotate(-180deg);
    margin-left: -0px;
    color: grey;
}

.source4{
    display: flex;
   
    font-style: italic;
    font-size: 10px;
    writing-mode:vertical-lr;
    text-orientation:initial;
    transform: rotate(-180deg);
    margin-left: -30px;
    color: grey;

}

.pub{
display: flex;
flex-direction: row;
align-content: end;
align-items: end;
margin-bottom: 20px;
}

.barcode{
    height: 140px;
    width: auto;
}

.Masksub{
    display: flex;
    margin-bottom: 20px;
}

#source5{
    display: flex;
    
    font-style: italic;
    writing-mode:vertical-lr;
    text-orientation:initial;
    transform: rotate(-180deg);
    margin-left: -1px;
    font-size: 10px;
    color: grey;

}

#source6{
    display: flex;
    font-style: italic;
    writing-mode:vertical-lr;
    text-orientation:initial;
    transform: rotate(-180deg);
    margin-left: -1px;
    font-size: 10px;
    color: grey;

}

.pesub{
    display: flex;
    margin-bottom: 20px;
    font-size: 10px;
}

